.triangle-button {
  position: absolute;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
  top: 0px;
  right: 0px;
  color: rgb(255, 255, 255);
  overflow: hidden;
  height: 32px;
  width: 32px;
  text-shadow: none;
  border-top-right-radius: 3px;
  pointer-events: none;
}

.triangle-button:before {
  content: '';
  display: inline-block;
  border-right: 32px solid;
  border-bottom: 32px solid transparent;
  position: absolute;
  top: 0;
  right: 0;
}

.triangle-button.red:before {
  border-right-color: #aa433a;
}

.triangle-button i {
  right: 4px;
  top: 3px;
  z-index: 1;
  position: absolute;
}