<li class="arrow selectable mini">
    <img src="assets/images/logos/kapital.png" class="icon">
    <a href="#" class="violet button right"><abbr>Attend</abbr></a>
    <a href="#party" data-router="section">
        <strong>{{name}}</strong>
        <small>{{site.name}} - {{data}}</small>
    </a>
</li>
