<li class="arrow selectable thumb">
    <img src="{{picture}}" class="icon">

    {{#loving}}
    <a href="#" class="accept button right">
        <span class="icon heart"></span>
        <abbr>Loving</abbr>
    </a>
    {{/loving}}
    {{^loving}}
    <a href="#" class="violet button right">
        <span class="icon heart-full"></span>
        <abbr>Love?</abbr>
    </a>
    {{/loving}}

    <a href="#">
        <strong>{{name}}</strong>
        <small>{{description}}</small>
    </a>
</li>