
/*  Colors  */

.blue   { background-color: #00A9C5; }
.violet { background-color: #662D91; }
.red    { background-color: #DA1E1F; }
.yellow { background-color: #FFA403; }
.green  { background-color: #61B832; }
.white  { background-color: #EFEFEF; }
.purple { background-color: #915BD3; }
.grey   { background-color: #CCC;    }
