
.block  { display : block;  }
.inline { display : inline; }
.ib     { display : inline-block; }
.hidden { display : none; }

.left   { float  : left;  }
.right  { float  : right; }
.auto   { margin : auto;  }
.text-center { text-align : center; }

.center {
    display : inline-block;
    text-align : center;
}

.clearfix { zoom: 1; }

    .clearfix:before,
    .clearfix:after {
        content: "\0020";
        display: block;
        height: 0;
        overflow: hidden;
    }

    .clearfix:after { clear: both; }
