<section id="sites" data-transition="slide">

    <header data-title="Favorite Sites" class="violet">
        <nav>
            <a href="#nav" data-router="aside" data-icon="menu" class="btn-menu"></a>
        </nav>

        <nav class="right">
            <a href="#" data-router="section" data-icon="search" data-action="search"></a>
        </nav>
    </header>

<!--
    <nav class="groupbar">
        <a href="#sites-fav" data-router="article" data-icon="heart"         data-title="Favorite Sites"    data-label="Favorite" class="active"></a>
        <a href="#sites-rec" data-router="article" data-icon="star"          data-title="Recommended Sites" data-label="Recommended"></a>
        <a href="#sites-all" data-router="article" data-icon="accessibility" data-title="All Sites"         data-label="All"></a>
    </nav>
-->

    <article id="sites-fav" class="active scroll list">
        <ul id="milista"></ul>
    </article>

<!--    <article id="sites-rec" class="scroll list"><ul></ul></article>
    <article id="sites-all" class="scroll list"><ul></ul></article>
-->
</section>
